* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #3c3c41;
  background-color: #fafafa;
}

main {
  max-width: 800px;
  margin: 0 auto;
  margin-left: 450px;
  padding: 2rem;
}

.header-row {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.nav-links {
  margin-left: 200px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  font-size: 0.9rem;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

h1, h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #000000;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #000000;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 62.4px;
  text-align: center;
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 900px) {
  main {
    margin-left: 20px;
  }
}
